In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('Titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df['Age'].fillna(df['Age'].median(),inplace=True)

In [ ]:
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [ ]:
df['Sex']=df['Sex'].map({'male':0,'female':1})

In [ ]:
df['Embarked']=df['Embarked'].map({'S':0,'C':1,'Q':2})

In [ ]:
df['FamilySize']=df['SibSp'] + df['Parch'] + 1

In [ ]:
X= df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'FamilySize']]
X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  FamilySize
0         3    0  22.0      1      0   7.2500         0           2
1         1    1  38.0      1      0  71.2833         1           2
2         3    1  26.0      0      0   7.9250         0           1
3         1    1  35.0      1      0  53.1000         0           2
4         3    0  35.0      0      0   8.0500         0           1
..      ...  ...   ...    ...    ...      ...       ...         ...
886       2    0  27.0      0      0  13.0000         0           1
887       1    1  19.0      0      0  30.0000         0           1
888       3    1  28.0      1      2  23.4500         0           4
889       1    0  26.0      0      0  30.0000         1           1
890       3    0  32.0      0      0   7.7500         2           1

[891 rows x 8 columns]

In [ ]:
Y=df['Survived']
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, test_size=0.30,shuffle=True)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
s=RandomForestClassifier()
s.fit(X_train,Y_train)
pred=s.predict(X_test)
print("Accuracy:",accuracy_score(Y_test,pred))

Accuracy: 0.8432835820895522

In [ ]:
from sklearn.metrics import classification_report
print("\t\t\tClassification Report\n\n",classification_report(Y_test,pred))

			Classification Report

               precision    recall  f1-score   support

           0       0.87      0.89      0.88       173
           1       0.79      0.76      0.77        95

    accuracy                           0.84       268
   macro avg       0.83      0.82      0.83       268
weighted avg       0.84      0.84      0.84       268